<!--
  Generated template for the BlogDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{ (blog)?.title }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="editBlog({blog: blog, editMode:true})">
        <ion-icon name="create"></ion-icon>
        <span ion-text color="primary">Edit</span>
      </button>
      <button ion-button (click)="deleteBlog(blog.id)">
        <ion-icon name="trash"></ion-icon>
        <span ion-text color="primary">Delete</span>
      </button>
    </ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      {{ (blog)?.body }}
    </ion-card-content>
  </ion-card>

  <h2>Comments: </h2>
  <button ion-button (click)="addComment({blogId:(blog)?.id})">
    <ion-icon name="add"></ion-icon>
    Add new comment
  </button>

  <ion-card *ngFor="let comment of comments$ | async">
    <ion-card-header>
      <ion-card-title>
        {{ comment.title }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ comment.body }}
    </ion-card-content>
  </ion-card>

</ion-content>
