
<ion-header>

  <ion-navbar>
    <ion-title>BlogList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab (click)="addBlog({blog: { id: 0, title: '', image: '', body: '' }, editMode:false})"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-card *ngFor="let blog of blogs$ | async">

    <ion-card-header>
      <ion-card-title>
        {{ blog.title }}
      </ion-card-title>
    </ion-card-header>

    <img src="{{ blog.image }}"/>

    <ion-card-content>
      {{ blog.body }}
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button (click)="goToDetail(blog.id)" ion-button icon-start clear small>
          <ion-icon name="eye"></ion-icon>
          <div>view</div>
        </button>
        <button (click)="removeBlog(blog.id)" ion-button icon-start clear small>
          <ion-icon name="trash"></ion-icon>
          <div>delete</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
